@tailwind base;
@tailwind components;
@tailwind utilities;
/* div{
    background-image: url(../public/wp4923978-react-js-wallpapers.jpg);
    background-position: center;
    background-size: cover;
} */